<head>
		<title>{{ site.title }} {{ site.subtitle }}</i></title>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
		<noscript><link rel="stylesheet" href="{{ 'assets/css/noscript.css' | relative_url }}" /></noscript>

	<!-- FILEPATH: /c:/Users/chici/OneDrive/Documentos/GitHub/frncaldas.github.io/_includes/head.html -->
		<!-- link rel="icon" href="{{ 'path/to/your/favicon.ico' | relative_url }}" type="image/x-icon" /> -->
	<!-- This code includes a link to the favicon.ico file, which is used as the website's icon in the browser tab. -->

		<link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/icon/apple-touch-icon.png' | relative_url }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/icon/favicon-32x32.png' | relative_url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/icon/favicon-16x16.png' | relative_url }}">
		<link rel="manifest" href="{{ 'assets/icon/site.webmanifest' | relative_url }}">

</head>
